.landing {
    background: linear-gradient(0deg, #1D2020, #272B2B);
}

.landing_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #FFA799;
    margin: 5px;
    padding: 5px;
    font-style: italic;
}

.landing_header {
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.landing_header h1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
    align-self: center;
    justify-self: center;
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 800;
    font-size: xxx-large;
    color: #FF715B;
    filter: drop-shadow(3px 5px 0px #2F4A4C);
}

.landing_header p {
    grid-column: 1 / span 2;
    justify-self: center;
    color: #FFA799;
    filter: drop-shadow(2px 3px 0px #2F4A4C);
    font-size: larger;
}

.about {
    background: linear-gradient(0deg, #BDD8C7, #A0E4D3);
}

.about h2 {
    text-align: center;
    margin: 0 auto 50px;
    padding-top: 50px;
}

.about p {
    padding: 0 40px 50px;
    line-height: 30px;
    text-align: center;
}

.cta {
    text-align: center;
    height: 200px;
    color: #BDD8C7;
}
 
.cta h3 {
    margin: 50px;
}

.cta a {
    text-decoration: none;
    color: #1D2020;
    background-color: #FF715B;
    padding: 10px;
    border-radius: 5px;
}

.cta a:hover {
    cursor: pointer;
}

.cta a:active {
    background-color: #456F6B;
}