.dashboard_main {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
}

.ehr_box {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: gray;
    text-align: center;
    align-content: center;
    height: 100px;
}

.ehr_box h2 {
    margin: 35px auto 0px;
}

.ehr_box p {
    margin: 0px;
}

.mtd_box {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    text-align: center;
    height: 100px;
}

.ytd_box {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    background-color: darkgray;
    text-align: center;
    height: 100px;
}

.shiftHistory_box {
    grid-column: 1 / span 3;
    grid-row: 2 / 2;
    align-self: center;
    background-color: white;
}

.add_income_button a {
    text-decoration: none;
    color: black;
    background-color: bisque;
    margin: 10px;
    padding: 10px;
}

.add_income_button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.no_selection_button {
    background-color: blue;
    border: none;
    color: white;
    font-size: xx-large;
    border-radius: 100%;
    padding: 10px 20px;
}

.income_selection button {
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    margin: 10px;
}