.dashboard_header {
    background-color: #83e0bdff;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-family: 'Segoe UI', sans-serif;
    font-style: italic;
    font-weight: 800;
    color: #212121;
    margin: 0 10px;
    font-size: xx-large;
    justify-content: flex-end;
}

.dashboard_header a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-style: italic;
}

.dashboard_header a:hover {
    cursor: pointer;
}